<div class="container overflow-hidden">
  <div class="row g-4 justify-content-center">
    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cart</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cart Summary</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row justify-content-between">
                <div class="col-auto">
                  <h6>Subtotal</h6>
                </div>
                <div class="col-auto float-end">
                  <h6>$0.00</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row justify-content-between">
                <div class="col-auto">
                  <h6>Total</h6>
                </div>
                <div class="col-auto float-end">
                  <h6>$0.00</h6>
                </div>
                <div class="w-100 m-0"></div>
                <div class="col-12 mt-3">
                  <button type="submit" class="btn btn-primary col-12">Checkout</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>