<div class="container overflow-hidden">
  <form action="/stamp" method="post" class="needs-validation" novalidate>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <h4 class="card-header">Carrier Information</h4>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-6">
                <label for="carrier" class="form-label">Carrier</label>
                <select id="carrier" class="form-select" name="carrier" required>
                  <option selected disabled value="">Select Carrier</option>
                  <option value="USPS">USPS</option>
                  <option value="UPS">UPS</option>
                  <option value="DHL">DHL</option>
                </select>
                <div class="invalid-feedback">
                  Please choose a carrier.
                </div>
              </div>
              <div class="col-6">
                <label for="predefined_package" class="form-label">Package Type</label>
                <select
                  id="predefined_package"
                  class="form-select"
                  name="predefined_package"
                  required
                >
                  <option selected disabled value="">Select Package</option>
                  <option value="Card" selected>Card</option>
                  <option value="Letter">Letter</option>
                  <option value="Flat">Flat</option>
                </select>
                <div class="invalid-feedback">
                  Please choose a package type.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <h4 class="card-header">Dimensions & Weight</h4>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-4">
                <label for="length" class="form-label">Length</label>
                <input
                  type="text"
                  class="form-control"
                  id="length"
                  name="length"
                  placeholder="length"
                />
              </div>
              <div class="col-4">
                <label for="width" class="form-label">Width</label>
                <input
                  type="text"
                  class="form-control"
                  id="width"
                  name="width"
                  placeholder="width"
                />
              </div>
              <div class="col-4">
                <label for="height" class="form-label">Height</label>
                <input
                  type="text"
                  class="form-control"
                  id="height"
                  name="height"
                  placeholder="height"
                />
              </div>
              <div class="col-6">
                <label for="pounds" class="form-label">Pounds(lb)</label>
                <input type="text" class="form-control" id="poundsInput" placeholder="lb" />
              </div>
              <div class="col-6">
                <label for="ounces" class="form-label">Ounces(oz)</label>
                <input type="text" class="form-control" id="ouncesInput" placeholder="oz" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 m-0"></div>
      <div class="col-lg-4">
        <div class="card">
          <h4 class="card-header">From</h4>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-12">
                <label for="fromCountry" class="form-label">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="fromCountry"
                  name="fromCountry"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a country.
                </div>
              </div>
              <div class="col-12">
                <label for="fromName" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fromName"
                  name="fromName"
                  placeholder="John Doe"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a name.
                </div>
              </div>
              <div class="col-12">
                <label for="fromStreet1" class="form-label">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="fromStreet1"
                  name="fromStreet1"
                  placeholder="1234 Main St"
                  required
                />
                <div class="invalid-feedback">
                  Please provide an address.
                </div>
              </div>
              <div class="col-12">
                <label for="fromStreet2" class="form-label">Apt/Suite</label>
                <input
                  type="text"
                  class="form-control"
                  id="fromStreet2"
                  name="fromStreet2"
                  placeholder="Apartment, studio, or floor"
                />
              </div>
              <div class="col-md-12">
                <label for="fromCity" class="form-label">City</label>
                <input type="text" class="form-control" id="fromCity" name="fromCity" required />
                <div class="invalid-feedback">
                  Please provide a city.
                </div>
              </div>
              <div class="col-md-6">
                <label for="fromState" class="form-label">State</label>
                <input type="text" class="form-control" id="fromState" name="fromState" required />
                <div class="invalid-feedback">
                  Please provide a state.
                </div>
              </div>
              <div class="col-md-6">
                <label for="fromZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="fromZip" name="fromZip" required />
                <div class="invalid-feedback">
                  Please provide a zip.
                </div>
              </div>
              <div class="col-12">
                <label for="fromPhone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="fromPhone" name="fromPhone" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <h4 class="card-header">To</h4>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-12">
                <label for="toCountry" class="form-label">Country</label>
                <input type="text" class="form-control" id="toCountry" name="toCountry" required />
                <div class="invalid-feedback">
                  Please provide a country.
                </div>
              </div>
              <div class="col-12">
                <label for="toName" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="toName"
                  name="toName"
                  placeholder="John Doe"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a name.
                </div>
              </div>
              <div class="col-12">
                <label for="toStreet1" class="form-label">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="toStreet1"
                  name="toStreet1"
                  placeholder="1234 Main St"
                  required
                />
                <div class="invalid-feedback">
                  Please provide an address.
                </div>
              </div>
              <div class="col-12">
                <label for="toStreet2" class="form-label">Apt/Suite</label>
                <input
                  type="text"
                  class="form-control"
                  id="toStreet2"
                  placeholder="Apartment, studio, or floor"
                  name="toStreet2"
                />
              </div>
              <div class="col-md-12">
                <label for="toCity" class="form-label">City</label>
                <input type="text" class="form-control" id="toCity" name="toCity" required />
                <div class="invalid-feedback">
                  Please provide a city.
                </div>
              </div>
              <div class="col-md-6">
                <label for="toState" class="form-label">State</label>
                <input type="text" class="form-control" id="toState" name="toState" required />
                <div class="invalid-feedback">
                  Please provide a state.
                </div>
              </div>
              <div class="col-md-6">
                <label for="toZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="toZip" name="toZip" required />
                <div class="invalid-feedback">
                  Please provide a zip.
                </div>
              </div>
              <div class="col-12">
                <label for="toPhone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="toPhone" name="toPhone" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <select id="signatureInput" class="form-select">
                  <option value="noSignatureRequired" selected>No Signature Required</option>
                  <option value="signatureRequired">Signature Required</option>
                  <option value="signatureRequiredByAdult">Signature Required by Adult</option>
                </select>
              </div>
              <div class="col-auto ps-0">
                <button type="submit" class="float-end btn btn-primary">Calculate Rates</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>